/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30 mai 2023, 16:45:52
    Author     : DELL
*/
#maPhoto {
    margin-right: 50px;
    margin-left: 50px;
}
.jumbotron {    
    padding-bottom: 32px;
}